<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- hidden field that submits user id -->
 <%= form.hidden_field :user_id, value: current_user.id %>

<!-- Don't want to have them fill in author anymore: -->
<!--   <div class="row">
    <div class="col-md-2">
      <div class="form-group text-right">
        <%= form.label :author %>
      </div>
    </div>
    <div class="col-md-10">
        <%= form.text_field :author, class: "form-group form-control" %>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-2">
      <!-- form-group -->
      <div class="form-group text-right">
        <%= form.label :comment_entry %>
      </div>
    </div>
    <div class="col-md-10">
        <%= form.text_field :comment_entry, class: "form-group form-control" %>
    </div>
  </div>

  <%= form.hidden_field :post_id, value: @post.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
