
    <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

<!-- hidden field that submits user id -->
    <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="row">
    <div class="col-md-2">
      <!-- form-group -->
      <div class="form-group text-right">
        <%= form.label :title %>
      </div>
    </div>
    <div class="col-md-10">
        <%= form.text_field :title, class: "form-group form-control" %>
    </div>
  </div>

  <!-- Don't want to have them fill in author anymore: -->
  <!-- <div class="row">
    <div class="col-md-2">
      <div class="field text-right">
        <%= form.label :author %>
      </div>
    </div>
    <div class="col-md-10">
        <%= form.text_field :author, class: "form-group form-control" %>
    </div>
  </div> -->
 

  <div class="row">
    <div class="col-md-2">
      <div class="field text-right">
        <%= form.label :blog_entry %>
      </div>
    </div>
    <div class="col-md-10">
        <%= form.text_area :blog_entry, class: "form-group form-control"%>
    </div>
  </div>

   <div class="row">
    <div class="col-md-2 text-right ">
      Add an image to the top of your post:<br>
    </div>
    <div class="col-md-10">  
      <%= form.file_field :image %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <div class="actions">
        <%= form.submit class: 'btn btn-default button-space' %>
      </div>
  </div>
    <% end %>
  
  </div>
