<p id="notice"><%= notice %></p>

<div class="row well">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <h2>
        <%= @post.title %>
      </h2>

      <h4><%= link_to @post.user.username, user_posts_path(name: @post.user.username) %></h4>
    </div>

    <div class="row text-center">
      <% if @post.image.present? %>
        <%= image_tag @post.image.url, class: 'post-photo' %>
      <% end %>
    </div>

    <div class="row">
      <p>
        <%= @post.blog_entry.html_safe %>
      </p>
    </div>


    <div class="row">
      <div class="col-md-6">
         <%= image_tag @post.user.avatar.url, class: "profile-photo" %>
      <span>
        <strong>Author:</strong>
        <%= @post.user.username %>
      </span>
      </div>

      <div class="col-md-6 text-right">
         <p>
        <strong>Created:</strong>
        <%= @post.created_at.in_time_zone("America/New_York").strftime("%B %e, %Y %I:%M %p")%>
      </p>
      </div>
    </div>

    <div class="row">
      <% @post.comments.each do |comment| %>
      <%= render comment %>

      <% end %>

      <div id="comments">
      <%= render 'comments/form', comment: @comment %>
      </div>
    </div>

    <div class="row">
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    </div>

  </div>
</div>
